*{
    margin:0;
    font-size: 30px;
}
body{
    margin: 0;
}
.box1{
    display: inline-block;
    border: 1px solid green ;
    padding: 0 64px;
    margin-right: 36px;
    /* margin-bottom: 84px; */
    /* box-sizing: content-box; */
}
.box2{
    display: inline-block;
    border: 1px solid red ;
    padding: 36px 24px;
    margin-bottom: 48px;
    /* box-sizing: border-box; */
}
.box3{
    border: 1px solid purple ;
    padding-left: 24px;
    width: 480px;
    box-sizing: border-box;
}